<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click) ="gotoPage('settings')" >
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar #search showCancelButton="focus"
      (ionFocus)="searchFocus($event)" 
      (ionBlur)="searchLostFocus($event)" 
      (ionInput)="searchFilter($event)"></ion-searchbar>
    <ion-input #hidden class="hidden"></ion-input>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>