<ion-list lines="none">
  <ion-item *ngIf="srv.today" (click)="open($event)">
    <ion-avatar slot="start">
      <img src="https://firebasestorage.googleapis.com/v0/b/omarks4.appspot.com/o/weather%2F{{srv.today?.icon}}@2x.png?alt=media">
    </ion-avatar>
    <ion-label>{{srv.today?.temp_min}}°/{{srv.today?.temp_max}}° - {{srvSettings.settings.city}} </ion-label>
    
    <ion-avatar slot="end">
      
      <img src="https://firebasestorage.googleapis.com/v0/b/omarks4.appspot.com/o/weather%2F{{srv.tomorrow?.icon}}@2x.png?alt=media">
    </ion-avatar>
    <ion-avatar slot="end">
      <img src="https://firebasestorage.googleapis.com/v0/b/omarks4.appspot.com/o/weather%2F{{srv.dayAfter?.icon}}@2x.png?alt=media">
    </ion-avatar>
  </ion-item>
</ion-list>