<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="srv.settings" fullscreen>
  <ion-list>
    <ion-item (click)="gotoPage('login')">
      <ion-avatar slot="start">
        <img [src]="srv.photo_url">
      </ion-avatar>
      <ion-label>
        <h2>{{srv.displayName}}</h2>
        <p>{{srv.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Algolia Settings
    </ion-list-header>
    <ion-item lines="full">
      <ion-icon slot="start" name="create"></ion-icon>
      <ion-label>Edit Index</ion-label>
      <ion-toggle [(ngModel)]="srv.settings.algoliaEditIndex" (ngModelChange)="save($event)" slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Application Id</ion-label>
      <ion-input type="text" [(ngModel)]='srv.settings.algoliaApplicationId' required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Index</ion-label>
      <ion-input type="text" [(ngModel)]='srv.settings.algoliaIndex' required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Api Key</ion-label>
      <ion-input type="password" [(ngModel)]='srv.settings.algoliaApiKey' required>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      App Settings
    </ion-list-header>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme
      </ion-label>
      <ion-toggle [(ngModel)]="srv.settings.dark" (ngModelChange)="save($event)" slot="end"></ion-toggle>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Default Label</ion-label>
      <ion-input [(ngModel)]="srv.settings.text" (ngModelChange)="save($event)"></ion-input>
    </ion-item> -->
  </ion-list>

  <ion-list>
    <ion-list-header>
        <ion-icon name="reorder" ></ion-icon>
      <h2>Dashboard Items</h2>
      
    </ion-list-header>
    <ion-item lines="full">
      <ion-icon slot="start" name="reorder"></ion-icon>
      <ion-label>
        Toggle Reorder
      </ion-label>
      <ion-toggle [(ngModel)]="srv.settings.enableReorder" (ngModelChange)="save($event)" slot="end"></ion-toggle>
      
    </ion-item>
    <ion-reorder-group id="reorder" [disabled]="!srv.settings.enableReorder" (ionItemReorder)="doReorder($event)">
      <ion-item>
        <ion-label>
          Item 1
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

      <ion-item>
        <ion-label>
          Item 2
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

      <ion-item>
        <ion-label>
          Item 3
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

      <ion-item>
        <ion-label>
          Item 4
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item>
          <ion-button expand="full" (click)="gotoPage('dashboard-item')">Add Item</ion-button>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>