<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="srv.settings">
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme 
      </ion-label>
      <ion-toggle [(ngModel)]="srv.settings.dark" (ngModelChange)="save($event)" slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Default Label</ion-label>
      <ion-input [(ngModel)]="srv.settings.text" (ngModelChange)="save($event)" ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>