<ion-grid *ngIf="srv.itemRows">
  <ion-row *ngFor="let _row of srv.itemRows">
    <ion-col *ngFor="let _item of _row" size-xs="3" size-sm="3" size-md="3" size-lg="2">
      <ion-card *ngIf="_item" (click)="open(_item, $event)">
        <img *ngIf="_item.avatar" src="{{_item.avatar}}" />
        <img *ngIf="!_item.avatar" src="https://api.faviconkit.com/{{_item.given_url?.split('/')[2]}}/144" />

        <ion-card-subtitle *ngIf="_item.show_subtitle">{{_item.given_url?.split("/")[2]}}</ion-card-subtitle>
        <ion-card-title *ngIf="_item.show_title">{{_item.given_title}}</ion-card-title>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>