<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="srv.item">{{srv.item.given_title}}</ion-title>
    </ion-toolbar>
  </ion-header>



<ion-content class="ion-padding" class="edit_item_dashboard" fullscreen *ngIf="srv.item">
  <ion-list>

    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" [(ngModel)]="srv.item.given_title" (ngModelChange)="save($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Url</ion-label>
      <ion-input type="text" [(ngModel)]="srv.item.given_url" (ngModelChange)="save($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Avatar</ion-label>
      <ion-input type="text" [(ngModel)]="srv.item.avatar" (ngModelChange)="save($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Picture</ion-label>
      <ion-input type="text" [(ngModel)]="srv.item.image_src" (ngModelChange)="save($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea rows="6" [(ngModel)]="srv.item.excerpt" (ngModelChange)="save($event)"></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label>
          Show Title
        </ion-label>
        <ion-toggle [(ngModel)]="srv.item.show_title" (ngModelChange)="save($event)" slot="end"></ion-toggle>
      </ion-item>

      <ion-item>
          <ion-label>
            Show Subtitle
          </ion-label>
          <ion-toggle [(ngModel)]="srv.item.show_subtitle" (ngModelChange)="save($event)" slot="end"></ion-toggle>
        </ion-item>
<!-- 
    <ion-item>
      <ion-label stacked>Dashboard Ranking</ion-label>
      <ion-input type="number" [(ngModel)]="item.dashboard_ranking"></ion-input>
    </ion-item> -->

  </ion-list>

  <!-- <div padding>
    <button ion-button primary block (click)="save()">Save</button>
    <button ion-button rimary block (click)="delete()">Delete</button>
  </div> -->
</ion-content>